body{ 
color:black;
background:red(218, 31, 251);

}
header{
border-bottom: solid 2px green;
padding: 20px ;
font-size: 32px;
color: rgb(0, 123, 206);
}

section{
background: rgba(233, 112, 12, 0.473);
padding-bottom: 80px;
padding-top: 80px;
display:flex;
justify-content:center ;


}

.chamada-texto{
    margin-right: 5%;
}

